*{
    font-family: Roboto;
}
.body{
    margin: 0;
}

.header{
    display: flex;
    max-width: 1440px;
    height: 83px;
    align-items: center;
    margin-right: 32px;
    justify-content: space-between;
}
.nav_menu{
    display: flex;
    grid-column-gap: 40px;

}
.fs7{
    font-size: 7px;
    margin-left: 8px;
    padding-top: 2px;
}
 .flex{
     display: flex;
 }
 .ai{
     align-items: center;

 }
 .font1{
     font-size: 16px;
     line-height: 24px;

 }
 .gup48{
     grid-column-gap: 48px;
 }
 .mr170{
     margin-right: 170px;
     margin-left: 36px;
 }
 .mr48{
   margin-right: 48px;

 }
 .db{
     color: #0B2330;
 }
 .fe{
     justify-content: flex-end;
     grid-column-gap: 24px;
 }
 .h83{
     height: 83px;
 }
 .but{
     width: 163px;
     height: 54px;
     background: #0B2330;
     border: 1px solid #0B2330;
     box-sizing: border-box;
     border-radius: 4px;
     color: white;
     font-size: 16px;
 }

 /*Block#1*/
.white{
    width: 730px;
    justify-content: center;
    margin-top: 154px;
}
h1{
    font-size: 60px;
    line-height: 64px;
    letter-spacing: 0.6px;
    margin: 0;
    font-weight: normal;
}
.par1{

    font-size: 22px;
    line-height: 32px;
    color: #375361;
    margin: 32px 0 38px 0;
}
.yellow{
    width: 710px;
    justify-content: flex-end;
    background: silver;
}
.w436{
    width: 435px;
}


